*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#sidebar{
    width: 15%;
    height: 100vh;
    background-color:royalblue
}
#sidebar ul{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
#page{
    display: flex;
}
#sidebar ul li {
    padding: 10px 0;
    transition: 0.2s ease;
    cursor: pointer;
}
#sidebar ul li:hover{
    background-color: black;
}

#sidebar ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;

}
#container{
    width: 85%;
}
.navbar{
    height: 50px;
    background-color: orange;
}
.content{
    margin-top: 20px;
    margin-left: 20px;
}